@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Montserrat:wght@300&family=Poppins:wght@200&display=swap');

:root {
    --primary-color: #363590;
    --secondary-color: #708783;
    --accent1-color: #94a67f;
    --accent2-color: #8db580;
  
    --heading-font: 'Gowun Batang', serif;
    --paragraph-font: 'Arial', serif;
  
    --nav-background-color: #8db580;
    --nav-link-color: #708783;
    --nav-hover-link-color: #363590;
    --nav-hover-background-color: #94a67f;
  }

  *{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  header {
    margin: 1rem auto;
    display: flex;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: solid #363590;
    max-width: 1000px;
  }

  body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 30px;
  }



  nav {
    text-align: right;
  }

  .navigation {
    display: flex;
    list-style: none;
  }

  .navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
  }

  .navigation a:hover {
    color: #8db580;
    font-weight: 700;
    text-decoration: underline;
  }
  
  h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
  }

  div {
    margin: 10px auto;
    position: relative;
    height: auto;
  }

  h1{
    position: absolute;
    background-color: var(--accent2-color);
    opacity: 0.8;
    text-align: center;
    top: 50px;
    width: 106.7%;
    height: 2%;
  }

  article img {
    position: absolute;
    top: 200px;
    right: 10px;
    width: 200px;
    height: auto;
    opacity: 1;

  }

  .images {
    display: grid;
    grid-column: auto;
    justify-content: center;
  }

  article p{
    position: absolute;
    background-color: var(--accent2-color);
    opacity: 0.8;
    top: 198px;
    right: 210px;
    width: 70%;
    height: 6.7%;
  }

  footer {
    display: flex;
    justify-content: space-around;
  }

  .sociallinks{
    max-width: 40px;
    padding: 10px;
    top: auto;
  }

