@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Montserrat:wght@300&family=Poppins:wght@200&display=swap');

:root {
    --primary-color: #44436c;
    --secondary-color: #708783;
    --accent1-color: #94a67f;
    --accent2-color: #8db580;
  
    --heading-font: 'Gowun Batang', serif;
    --paragraph-font: 'Arial', serif;
  
    --nav-background-color: #8db580;
    --nav-link-color: #708783;
    --nav-hover-link-color: #44436c;
    --nav-hover-background-color: #94a67f;
  }

        
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }

  header {
    padding: 20px;
    background-color: var(--accent1-color);
  }

  p {
    padding: 25px;
  }

  nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }